/* Center the loader */
#loader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}
.loader-it {
    position: absolute;
    left: 0;
    transform: translate(0, -50%);
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 17px solid #159C2A;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}*/