button:disabled {
    cursor: not-allowed;
}
.apply_strps_main {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    height: auto;
    min-height: 100vh;
}
.as_side_l {
    width: 100%;
    max-width: 300px;
    min-width: 270px;
    background-color: rgb(219 241 225 / 49%);
}
.as_side_l_itm {
    display: inline-block;
    width: 100%;
}
.step_twnd_owner_dsn {
    display: none;
}
.as_con_c {
    width: 100%;
    background-color: #EDF8F1;
    display: flex;
    position: relative;
}
.as_side_r {
    position: relative;
}
.as_side_b_img {
    width: 100%;
}
.as_side_b_img img {
    width: auto;
    max-width: 100%;
}
/*.as_side_b_img {
    width: 100%;
    max-width: 488px;
    height: auto;
    background-image: url(../img/appl-im-tr.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}*/
.as_con_sf {
    display: flex;
    width: 100%;
    height: 100%;
}
.as_cop {
    width: 100%;
    background-color: #fff;
    padding-bottom: 1rem;
}
.as_cop {
    padding: 1rem  1.2rem .5rem;
}
.as_form {
    width: 100%;
    background-color: #fff;
}
.as_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .5rem 2rem;
}
.as_logo img {
    width: auto;
    max-width: 100%;
    height: auto;
}
.as_steps {
    display: inline-block;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 2rem;
}
.as_steps_itm {
    display: block;
    margin: 0.5rem 0;
}
.as_steps_itm a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:0.5rem 2.5rem;
    background-color: transparent
}
.as_steps_tt, .as_steps_nm {
    font-style: normal;
}
.as_steps_nm {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #159C2A;
    border-radius: 1px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #159C2A;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-family: 'sofia_pro_medium';
    margin-right: 0.8rem;
}
.as_steps_tt {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #485F49;
    text-align: left;
    font-family: 'sofia_pro_regular';
    position: relative;
    top: 1px;
}
.as_steps_itm a, .as_steps_itm a:hover, .as_steps_itm a:hover .as_steps_tt, .as_steps_itm.as_subm_active .as_steps_tt,
.as_steps_itm a .as_steps_nm, .as_steps_itm a:hover .as_steps_nm, .as_steps_itm.as_subm_active .as_steps_nm {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}
.as_steps_itm a.step_active:hover .as_steps_nm, .as_steps_itm.as_subm_active .step_active .as_steps_nm {
    background-color: #159C2A;
    color: #fff;
}
.as_steps_itm a.step_active:hover, .as_steps_itm.as_subm_active a.step_active {
    background-color: #d2ead8;
}
.as_steps_itm a.step_active:hover .as_steps_tt, .as_steps_itm.as_subm_active .as_steps_tt {
    color: #159C2A;
}
.step_inactive {
    opacity: 0.5;
    cursor: default;
}
.as_ln_soc, .as_ln_soc_it {
    display: flex;
}
.as_ln_soc {
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 230px;
    margin: 0 auto;
}
.as_ln_soc_it {
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
}
/*.as_form_steps {
    display: none;
}*/
.as_inp_active {
    display: block;
}
.as_form_step_inf {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.5rem;
}
.as_form_step_tt, .as_form_step_desc {
    font-style: normal;
    display: block;
    font-family: 'Poppins', sans-serif;
}
.as_form_step_tt {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: #042F05;
    margin-bottom: 0.5rem;
    font-family: 'Poppins', sans-serif;
}
.as_form_step_desc {
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.3rem;
    color: #737a73;
}
.form_row {
    display: flex;
    width: 100%;
    max-width: 1078px;
}
.form_col {
    padding: .5rem;
    position: relative;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-bottom: 1.2rem;
}
.form_label {
    font-style: normal;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.3rem;
    color: #5e7262;
    font-family: 'proxima_novaregular';
}
span.inp_invalid, .form_error_zip {
    /*position: absolute; */
    display: inline-block;
    font-size: .8rem;
    width: 100%;
    color: red;
    left: 0;
    /* padding: 0 0 0 0.5rem; */
    bottom: -1px;
    font-family: 'proxima_novaregular';
}
.zip_inp_m span.inp_invalid {
    bottom: -20px;
    padding-left: 0;
}
input.inp_invalid, select.inp_invalid, .error_zip {
    border-color: red!important;
}
.msg_alert_js, .msg_valid {
    position: relative;
    text-align: left;
}
.msg_valid {
    margin-bottom: 1rem;
}
.msg_valid .inp_invalid {
    font-size: 1rem;
}
.msg_alert_js .inp_invalid {
    position: inherit;
}
.msg_valid_file_inp {
    text-align: center;
}
.msg_valid_file_inp .inp_invalid {
    font-size: 1rem;
}
.zip_inp_m {
    position: relative;
}
.form_input_zip_loader:after {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin: 0.8rem;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-color: #bdbdbd transparent #bdbdbd transparent;
    background-position: center;
    background-repeat: no-repeat;
    animation: form_input_zip_loader_dual_ring 1.2s linear infinite;
}
@keyframes form_input_zip_loader_dual_ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.form_input, .form_input_select {
    height: 50px;
}
.form_textarea {
    min-height: 100px;
    max-height: 150px;
}
.form_input, .form_input_select, .form_textarea {
    display: block;
    width: 100%;
    font-weight: 400;
    background-color: #F3F7F4;
    border: 1px solid #F3F7F4;
    border-radius: 0;
    font-style: normal;
    color: rgba(0, 29, 0, 0.65);
    position: relative;
    font-family: 'proxima_novaregular';
    padding: 0.375rem 0.75rem;
    line-height: 1.5rem;
    margin-top: 5px;
    font-size: 0.9rem;
}
.flup-mr-frm {
    color: #159C2A;
}
/*.flup-mr-inf {
    color: #000;
}*/
.as_form form {
    padding-top: 1rem;
}
.as_form_buttons {
    padding: 0 0.5rem;
    display: flex;
}
.as_form_button_submit, .as_form_button_submit span,
.as_form_button_twnd_owner, .button_al_submit_form_link {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}
.as_form_button_twnd_owner, .as_form_button_submit, .button_al_submit_form_link {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    font-family: 'proxima_novaregular';
    text-decoration: none;
}
.as_form_button_twnd_owner, .button_al_submit_form_link {
    color: #128323;
    background-color: rgb(255 255 255);
    border: 3px solid #159c2a;
}
.button_al_submit_form_link {
    margin: 0;
}
.as_form_button_submit {
    border: 3px solid #159c2a;
    background: #159C2A;
    background-color: #159C2A;
    color: #fff;
    overflow: hidden;
}
.as_form_button_submit, .as_form_button_twnd_owner, .button_al_submit_form_link {
    max-width: 220px;
    min-width: 150px;
    width: 100%;
    height: 55px;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-style: normal;
    font-weight: 400;
}

.as_form_button_submit:after {
    content: "";
    position: absolute;
    opacity: 0;
    right: 15%;
    width: 28px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: cubic-bezier(0.4, 0, 1, 1) infinite alternate;
    animation-name: strbtnanim;
    animation-duration: .5s;
}
.as_form_button_submit:hover {
    background-color: #fff;
}
.as_form_button_submit:hover span {
    color: #159C2A;
    margin-left: -10px;
}
.as_form_button_submit:hover:after {
    opacity: 1;
}
.as_form_button_submit:active {
    opacity: .8;
}
@-webkit-keyframes strbtnanim {
    0% {
      right: 10%;
      transform: translateX(0);
    }
    100% {
      right: -7%;
      transform: translateX(-100%);
    }
}
.as_form_button_twnd_owner:hover, .button_al_submit_form_link:hover {
    background: #159c2a;
    color: rgb(255 255 255);
}
/*.as_form_button_next:hover {
    background: rgb(21 156 42 / 24%);
    color: rgb(0 0 0 / 62%);
}
.as_form_button_next:active {
    transform: translateY(3px);
    color: rgb(0 0 0 / 63%);
    background: rgb(0 149 24 / 33%);
}*/
.as_form_button_twnd_owner:active {
    transform: translateY(3px);
    color: rgb(0 0 0 / 63%);
    background: rgb(0 149 24 / 33%);
}
button:disabled,
button[disabled]{
    opacity: .7;
}

.as_cop_it div, .as_cop_it div a {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.1rem;
    color: #9F9F9F;
    font-family: 'proxima_novaregular';
    max-width: 650px;
    padding: 0.5rem 0;
}
.as_cop_it div a:hover {
    color: #159C2A;
}
.inp-req, .inp-req-hd {
    color: red;
    font-size: 1rem;
}
.inp-req-hd {
    display: none;
}
.step_twnd_owner {
    margin-top: 2rem;
}
.form_error_type p {
    font-size: 1rem;
    line-height: normal;
    color: #000;
    text-align: left;
}
.files_list_uploads {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1rem 0;
    padding: 0 0 1rem;
    width: 100%;
}
.files_list_uploads_tt {
    display: none;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #042F05;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
}
.files_list_uploads_itm, div.MultiFile-label  {
    display: inline-flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* margin: 0 0 0.5rem; */
    padding: 0.5rem;
    /* border-bottom: 1px solid lightgrey;*/
}
div.MultiFile-label:nth-child(2n), .files_list_uploads_itm:nth-child(2n) {
    background-color: #f5f5f5;
}
div.fileList, .files_list_uploads_fileList {
    padding: 0;
    border: 1px solid #eee9e9;
    width: 100%;
}
.files_list_uploads_itm:last-child, .MultiFile-label:last-child {
    border-bottom: 0;
}
.files_list_uploads_itm_name, .MultiFile-label span {
    font-style: normal;
    font-size: .8rem;
    line-height: 1rem;
    text-transform: capitalize;
    color: #696969;
    font-family: 'proxima_novasemibold';
}
.files_list_uploads_itm_name, .files_list_uploads_itm_del {
    position: relative;
    z-index: 1;
}
.files_list_uploads_box_del {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
}
.files_list_uploads_box_del .files_list_uploads_box_delcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #eee9e961;
    border-bottom: 1px solid #eee9e961;
}
.files_list_uploads_box_del span {
    color: #000;
    font-size: 0.9rem;
    line-height: normal;
}
.files_list_uploads_box_delcon_succes {
    color: #159C2A!important;
}
.files_list_uploads_box_delcon_err {
    color: #c90000!important;
}
.files_list_uploads_itm_del_btn {
    background: #fff0;
    background-color: #fff0;
    border: 1px solid transparent;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.2rem;
    cursor: pointer;
    position: relative;
}
.files_list_uploads_itm_del_ico {
    display: inline;
    background-color: transparent;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.0588379' width='19' height='19' rx='2' fill='%238B928C'/%3E%3Cpath d='M8.34009 4.9697H10.7776C10.7776 4.65626 10.6492 4.35566 10.4206 4.13403C10.1921 3.91239 9.88207 3.78788 9.55884 3.78788C9.23561 3.78788 8.92561 3.91239 8.69705 4.13403C8.46849 4.35566 8.34009 4.65626 8.34009 4.9697V4.9697ZM7.52759 4.9697C7.52759 4.4473 7.74159 3.9463 8.12253 3.57691C8.50346 3.20752 9.02012 3 9.55884 3C10.0976 3 10.6142 3.20752 10.9951 3.57691C11.3761 3.9463 11.5901 4.4473 11.5901 4.9697H15.6526C15.7603 4.9697 15.8637 5.0112 15.9399 5.08508C16.016 5.15896 16.0588 5.25916 16.0588 5.36364C16.0588 5.46812 16.016 5.56832 15.9399 5.64219C15.8637 5.71607 15.7603 5.75758 15.6526 5.75758H14.7962L13.8261 13.9074C13.7575 14.4835 13.4729 15.015 13.0265 15.4009C12.58 15.7867 12.0029 16 11.4048 16H7.71284C7.1148 16 6.53765 15.7867 6.0912 15.4009C5.64475 15.015 5.36016 14.4835 5.29159 13.9074L4.32146 5.75758H3.46509C3.35734 5.75758 3.25401 5.71607 3.17783 5.64219C3.10164 5.56832 3.05884 5.46812 3.05884 5.36364C3.05884 5.25916 3.10164 5.15896 3.17783 5.08508C3.25401 5.0112 3.35734 4.9697 3.46509 4.9697H7.52759ZM6.0984 13.8176C6.14425 14.2016 6.33406 14.5559 6.63174 14.813C6.92942 15.0701 7.31418 15.2122 7.71284 15.2121H11.4048C11.8035 15.2122 12.1883 15.0701 12.4859 14.813C12.7836 14.5559 12.9734 14.2016 13.0193 13.8176L13.978 5.75758H5.13965L6.0984 13.8176ZM8.34009 7.72727C8.44783 7.72727 8.55116 7.76878 8.62735 7.84266C8.70354 7.91653 8.74634 8.01673 8.74634 8.12121V12.8485C8.74634 12.953 8.70354 13.0532 8.62735 13.127C8.55116 13.2009 8.44783 13.2424 8.34009 13.2424C8.23234 13.2424 8.12901 13.2009 8.05283 13.127C7.97664 13.0532 7.93384 12.953 7.93384 12.8485V8.12121C7.93384 8.01673 7.97664 7.91653 8.05283 7.84266C8.12901 7.76878 8.23234 7.72727 8.34009 7.72727ZM11.1838 8.12121C11.1838 8.01673 11.141 7.91653 11.0649 7.84266C10.9887 7.76878 10.8853 7.72727 10.7776 7.72727C10.6698 7.72727 10.5665 7.76878 10.4903 7.84266C10.4141 7.91653 10.3713 8.01673 10.3713 8.12121V12.8485C10.3713 12.953 10.4141 13.0532 10.4903 13.127C10.5665 13.2009 10.6698 13.2424 10.7776 13.2424C10.8853 13.2424 10.9887 13.2009 11.0649 13.127C11.141 13.0532 11.1838 12.953 11.1838 12.8485V8.12121Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 20px;
    height: 19px;
}
.files_list_uploads_itm_del_btn:hover .files_list_uploads_itm_del_ico {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.0588379' width='19' height='19' rx='2' fill='%23DB1C10'/%3E%3Cpath d='M8.34009 4.9697H10.7776C10.7776 4.65626 10.6492 4.35566 10.4206 4.13403C10.1921 3.91239 9.88207 3.78788 9.55884 3.78788C9.23561 3.78788 8.92561 3.91239 8.69705 4.13403C8.46849 4.35566 8.34009 4.65626 8.34009 4.9697V4.9697ZM7.52759 4.9697C7.52759 4.4473 7.74159 3.9463 8.12253 3.57691C8.50346 3.20752 9.02012 3 9.55884 3C10.0976 3 10.6142 3.20752 10.9951 3.57691C11.3761 3.9463 11.5901 4.4473 11.5901 4.9697H15.6526C15.7603 4.9697 15.8637 5.0112 15.9399 5.08508C16.016 5.15896 16.0588 5.25916 16.0588 5.36364C16.0588 5.46812 16.016 5.56832 15.9399 5.64219C15.8637 5.71607 15.7603 5.75758 15.6526 5.75758H14.7962L13.8261 13.9074C13.7575 14.4835 13.4729 15.015 13.0265 15.4009C12.58 15.7867 12.0029 16 11.4048 16H7.71284C7.1148 16 6.53765 15.7867 6.0912 15.4009C5.64475 15.015 5.36016 14.4835 5.29159 13.9074L4.32146 5.75758H3.46509C3.35734 5.75758 3.25401 5.71607 3.17783 5.64219C3.10164 5.56832 3.05884 5.46812 3.05884 5.36364C3.05884 5.25916 3.10164 5.15896 3.17783 5.08508C3.25401 5.0112 3.35734 4.9697 3.46509 4.9697H7.52759ZM6.0984 13.8176C6.14425 14.2016 6.33406 14.5559 6.63174 14.813C6.92942 15.0701 7.31418 15.2122 7.71284 15.2121H11.4048C11.8035 15.2122 12.1883 15.0701 12.4859 14.813C12.7836 14.5559 12.9734 14.2016 13.0193 13.8176L13.978 5.75758H5.13965L6.0984 13.8176ZM8.34009 7.72727C8.44783 7.72727 8.55116 7.76878 8.62735 7.84266C8.70354 7.91653 8.74634 8.01673 8.74634 8.12121V12.8485C8.74634 12.953 8.70354 13.0532 8.62735 13.127C8.55116 13.2009 8.44783 13.2424 8.34009 13.2424C8.23234 13.2424 8.12901 13.2009 8.05283 13.127C7.97664 13.0532 7.93384 12.953 7.93384 12.8485V8.12121C7.93384 8.01673 7.97664 7.91653 8.05283 7.84266C8.12901 7.76878 8.23234 7.72727 8.34009 7.72727ZM11.1838 8.12121C11.1838 8.01673 11.141 7.91653 11.0649 7.84266C10.9887 7.76878 10.8853 7.72727 10.7776 7.72727C10.6698 7.72727 10.5665 7.76878 10.4903 7.84266C10.4141 7.91653 10.3713 8.01673 10.3713 8.12121V12.8485C10.3713 12.953 10.4141 13.0532 10.4903 13.127C10.5665 13.2009 10.6698 13.2424 10.7776 13.2424C10.8853 13.2424 10.9887 13.2009 11.0649 13.127C11.141 13.0532 11.1838 12.953 11.1838 12.8485V8.12121Z' fill='white'/%3E%3C/svg%3E%0A");
}
.as_side_testim_tt {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #159C2A;
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.as_side_testim .section_testm_cont {
    padding: 1rem 0 0rem;
    min-height: 167px;
}
.as_side_testim .section_testm_itm_at {
    color:#031A02;
}
.as_side_testim .section_testm_itm, .as_side_testim .section_testm_itm_at  {
    font-size: 0.9rem;
    line-height: 1.3rem;
}
.as_side_testim .sect_testm_ico {
    width: 15px;
    height: 11px;
}
.as_side_testim .section_testm_ico_com {
    margin: 1rem 0 0;
}
.as_side_testim .section_testm_itm {
    margin: 0 auto 1rem;
}
.btn_slc_f, .btn__file_up {
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
}
.btn__file_up {
    position: relative;
    background-color: transparent;
    padding: 2rem 0;
    box-sizing: border-box;
    border-radius: 0px;
    width: 100%;
    height: auto;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    box-shadow: none !important;
    font-weight: 400;
    z-index: 2;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #677268;
    font-family: 'proxima_novaregular';
}
.btn_slc_f {
    z-index: 2;
    margin-bottom: 0;
    cursor: pointer;
}
.as-flch {
    color: #159C2A;
    text-decoration: underline;
}
.or__slc_f, .btn_slc_f {
    display: inline-block;
    margin: 1rem 0;
}
.file__up_inp {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: pointer;
    display: block;
    z-index: 1;
}
.file__el {
    border: 2px dashed rgba(33, 150, 83, 0.6) !important;
    padding: 10px;
    background-color: white;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.file_up_l {
    display: none;
	padding: 1rem 0 0;
    z-index: 3;
    position: relative;
}
.fileList ol {
	list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fileList li, .fileList .file__err_sz {
    font-size: .8rem;
    line-height: 1.7rem;
}
.fileList li {
    padding-left: 12px;
    margin-bottom: 8px;
}
.fileList li.file__tr_sz {
	/*background-color: #ececec; */
    color: #353535;
}
.fileList .file__err_sz {
    color: #c13f3f;
    display: inline-block;
    width: 100%;
    padding-left: 12px;
}
.file__inf_cnmx {
    font-family: 'proxima_novaregular';
	line-height: normal;
}
.file__inf_lgh {
    color: #2d2d2d;
    font-weight: normal;
}
.file__inf_lgh b {
    color: #000;
}
.file__inf_wrn {
	color: #000;
}
.fileList {
    padding: 0;
}
.MultiFile-remove {
    text-decoration: none!important;
    color: red;
    font-size: 13px;
    display: inline-block;
    position: relative;
    line-height: normal;
}
.MultiFile-title {
    font-size: 14px;
    color: #5a5a5a;
    line-height: normal;
}
div.MultiFile-label :nth-child(2) {
    display: inline-block;
    vertical-align: top;
}
div.MultiFile-label {
    flex-direction: row-reverse;
}
div.MultiFile-label.nrvs {
    flex-direction: row;
}
.MultiFile-label > span, span.MultiFile-label {
    text-align: left;
}
span.MultiFile-label {
    display: inline-block;
    margin: .2rem 0;
}
/*.MultiFile-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-bottom: 1px solid lightgrey;
}*/
.btn_clf {
    text-align: right;
}
.slick-slider {
    overflow: hidden;
    width: 100%;
}
.slick-list {
    width: auto !important;
}
.file_as_txt {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.ico_slfl_frm {
    margin-right: .5rem;
    width: 33px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='30' viewBox='0 0 33 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-outside-1_1_262' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='30' fill='black'%3E%3Crect fill='white' width='33' height='30'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.74017 21.624C6.766 21.6266 6.78925 21.6279 6.81379 21.6279C7.138 21.6279 7.41829 21.3838 7.45446 21.0531C7.4945 20.6992 7.23875 20.3802 6.88483 20.3401C4.26533 20.0495 2.29167 17.8433 2.29167 15.2083C2.29167 12.3589 4.60892 10.0417 7.56167 10.0417C7.88329 10.0417 8.15583 9.804 8.20104 9.48625C8.77971 5.38521 12.3473 2.29167 16.5 2.29167C19.746 2.29167 22.7245 4.18396 24.0911 7.11087C24.1919 7.32658 24.4024 7.46996 24.6414 7.48287C28.0436 7.67146 30.7083 10.4976 30.7083 13.9167C30.7083 16.7997 28.7786 19.3494 26.0157 20.1141C25.6721 20.2084 25.4706 20.5649 25.5662 20.9085C25.6605 21.252 26.0144 21.4535 26.3606 21.3592C29.6802 20.4396 32 17.3783 32 13.9167C32 9.94092 28.9969 6.63296 25.0935 6.2235C23.4505 3.03825 20.118 1 16.5 1C11.8926 1 7.90783 4.3015 7.014 8.7655C3.65954 8.99412 1 11.7957 1 15.2083C1 18.5021 3.46837 21.2611 6.74017 21.624ZM13.2711 28.1247C13.2711 28.8365 13.8498 29.4164 14.5628 29.4164H18.4378C19.1508 29.4164 19.7295 28.8365 19.7295 28.1247V21.6664H22.9586C23.2195 21.6664 23.4533 21.5088 23.5541 21.2673C23.6548 21.0257 23.5993 20.748 23.4146 20.5633L16.9562 14.105C16.7044 13.8531 16.2949 13.8531 16.043 14.105L9.58471 20.5633C9.40129 20.748 9.34575 21.0257 9.44521 21.2673C9.54467 21.5088 9.78104 21.6664 10.042 21.6664H13.2711V28.1247ZM13.917 20.3747H11.601L16.5003 15.4755L21.3996 20.3747H19.0836C18.7271 20.3747 18.4378 20.6641 18.4378 21.0206V28.1247H14.5628V21.0206C14.5628 20.6641 14.2735 20.3747 13.917 20.3747Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.74017 21.624C6.766 21.6266 6.78925 21.6279 6.81379 21.6279C7.138 21.6279 7.41829 21.3838 7.45446 21.0531C7.4945 20.6992 7.23875 20.3802 6.88483 20.3401C4.26533 20.0495 2.29167 17.8433 2.29167 15.2083C2.29167 12.3589 4.60892 10.0417 7.56167 10.0417C7.88329 10.0417 8.15583 9.804 8.20104 9.48625C8.77971 5.38521 12.3473 2.29167 16.5 2.29167C19.746 2.29167 22.7245 4.18396 24.0911 7.11087C24.1919 7.32658 24.4024 7.46996 24.6414 7.48287C28.0436 7.67146 30.7083 10.4976 30.7083 13.9167C30.7083 16.7997 28.7786 19.3494 26.0157 20.1141C25.6721 20.2084 25.4706 20.5649 25.5662 20.9085C25.6605 21.252 26.0144 21.4535 26.3606 21.3592C29.6802 20.4396 32 17.3783 32 13.9167C32 9.94092 28.9969 6.63296 25.0935 6.2235C23.4505 3.03825 20.118 1 16.5 1C11.8926 1 7.90783 4.3015 7.014 8.7655C3.65954 8.99412 1 11.7957 1 15.2083C1 18.5021 3.46837 21.2611 6.74017 21.624ZM13.2711 28.1247C13.2711 28.8365 13.8498 29.4164 14.5628 29.4164H18.4378C19.1508 29.4164 19.7295 28.8365 19.7295 28.1247V21.6664H22.9586C23.2195 21.6664 23.4533 21.5088 23.5541 21.2673C23.6548 21.0257 23.5993 20.748 23.4146 20.5633L16.9562 14.105C16.7044 13.8531 16.2949 13.8531 16.043 14.105L9.58471 20.5633C9.40129 20.748 9.34575 21.0257 9.44521 21.2673C9.54467 21.5088 9.78104 21.6664 10.042 21.6664H13.2711V28.1247ZM13.917 20.3747H11.601L16.5003 15.4755L21.3996 20.3747H19.0836C18.7271 20.3747 18.4378 20.6641 18.4378 21.0206V28.1247H14.5628V21.0206C14.5628 20.6641 14.2735 20.3747 13.917 20.3747Z' fill='%23159C2A'/%3E%3Cpath d='M6.74017 21.624L6.70709 21.9222L6.71032 21.9226L6.74017 21.624ZM7.45446 21.0531L7.15636 21.0194L7.15624 21.0205L7.45446 21.0531ZM6.88483 20.3401L6.91856 20.042L6.91791 20.042L6.88483 20.3401ZM8.20104 9.48625L8.49805 9.52851L8.4981 9.52816L8.20104 9.48625ZM24.0911 7.11087L23.8193 7.23779L23.8193 7.23783L24.0911 7.11087ZM24.6414 7.48287L24.658 7.18333L24.6576 7.18331L24.6414 7.48287ZM26.0157 20.1141L26.0951 20.4034L26.0957 20.4032L26.0157 20.1141ZM25.5662 20.9085L25.8555 20.8291L25.8552 20.8281L25.5662 20.9085ZM26.3606 21.3592L26.4394 21.6487L26.4407 21.6484L26.3606 21.3592ZM25.0935 6.2235L24.8268 6.36103L24.9011 6.50497L25.0622 6.52186L25.0935 6.2235ZM7.014 8.7655L7.0344 9.0648L7.26315 9.04921L7.30816 8.8244L7.014 8.7655ZM19.7295 21.6664V21.3664H19.4295V21.6664H19.7295ZM23.5541 21.2673L23.2772 21.1518L23.2772 21.1518L23.5541 21.2673ZM23.4146 20.5633L23.6267 20.3512L23.6267 20.3512L23.4146 20.5633ZM16.9562 14.105L16.7441 14.3171L16.7441 14.3171L16.9562 14.105ZM16.043 14.105L16.2552 14.3171L16.2552 14.3171L16.043 14.105ZM9.58471 20.5633L9.37257 20.3512L9.37183 20.3519L9.58471 20.5633ZM9.44521 21.2673L9.72261 21.1531L9.72261 21.1531L9.44521 21.2673ZM13.2711 21.6664H13.5711V21.3664H13.2711V21.6664ZM11.601 20.3747L11.3889 20.1626L10.8767 20.6747H11.601V20.3747ZM16.5003 15.4755L16.7124 15.2633L16.5003 15.0512L16.2882 15.2633L16.5003 15.4755ZM21.3996 20.3747V20.6747H22.1238L21.6117 20.1626L21.3996 20.3747ZM18.4378 28.1247V28.4247H18.7378V28.1247H18.4378ZM14.5628 28.1247H14.2628V28.4247H14.5628V28.1247ZM6.81379 21.3279C6.80055 21.3279 6.78735 21.3273 6.77001 21.3255L6.71032 21.9226C6.74465 21.926 6.77795 21.9279 6.81379 21.9279V21.3279ZM7.15624 21.0205C7.13695 21.1968 6.98715 21.3279 6.81379 21.3279V21.9279C7.28885 21.9279 7.69963 21.5708 7.75268 21.0857L7.15624 21.0205ZM6.85111 20.6382C7.04143 20.6598 7.17766 20.8312 7.15636 21.0194L7.75256 21.0868C7.81134 20.5673 7.43607 20.1006 6.91856 20.042L6.85111 20.6382ZM1.99167 15.2083C1.99167 17.9961 4.08022 20.3308 6.85175 20.6383L6.91791 20.042C4.45045 19.7682 2.59167 17.6905 2.59167 15.2083H1.99167ZM7.56167 9.74167C4.44712 9.74167 1.99167 12.1894 1.99167 15.2083H2.59167C2.59167 12.5285 4.77071 10.3417 7.56167 10.3417V9.74167ZM7.90403 9.44399C7.87978 9.61444 7.73336 9.74167 7.56167 9.74167V10.3417C8.03322 10.3417 8.43188 9.99356 8.49805 9.52851L7.90403 9.44399ZM16.5 1.99167C12.1983 1.99167 8.50361 5.19472 7.90398 9.44433L8.4981 9.52816C9.0558 5.57569 12.4962 2.59167 16.5 2.59167V1.99167ZM24.363 6.98396C22.9468 3.95091 19.8619 1.99167 16.5 1.99167V2.59167C19.63 2.59167 22.5023 4.41701 23.8193 7.23779L24.363 6.98396ZM24.6576 7.18331C24.5298 7.17641 24.4171 7.09997 24.3629 6.98392L23.8193 7.23783C23.9666 7.55319 24.275 7.76351 24.6252 7.78244L24.6576 7.18331ZM31.0083 13.9167C31.0083 10.3393 28.2201 7.38078 24.658 7.18333L24.6248 7.78241C27.8671 7.96213 30.4083 10.6559 30.4083 13.9167H31.0083ZM26.0957 20.4032C28.9897 19.6023 31.0083 16.9333 31.0083 13.9167H30.4083C30.4083 16.666 28.5674 19.0966 25.9357 19.825L26.0957 20.4032ZM25.8552 20.8281C25.804 20.6439 25.9123 20.4536 26.0951 20.4034L25.9363 19.8248C25.432 19.9632 25.1372 20.4858 25.2772 20.9889L25.8552 20.8281ZM26.2817 21.0698C26.0942 21.1209 25.9057 21.012 25.8555 20.8291L25.2769 20.9879C25.4153 21.492 25.9347 21.7862 26.4394 21.6487L26.2817 21.0698ZM31.7 13.9167C31.7 17.2444 29.4692 20.1867 26.2805 21.0701L26.4407 21.6484C29.8911 20.6924 32.3 17.5123 32.3 13.9167H31.7ZM25.0622 6.52186C28.8129 6.91531 31.7 10.0945 31.7 13.9167H32.3C32.3 9.78729 29.1808 6.35061 25.1248 5.92514L25.0622 6.52186ZM16.5 1.3C20.0058 1.3 23.2354 3.2757 24.8268 6.36103L25.3601 6.08597C23.6655 2.8008 20.2301 0.7 16.5 0.7V1.3ZM7.30816 8.8244C8.17404 4.50001 12.0362 1.3 16.5 1.3V0.7C11.749 0.7 7.64163 4.10299 6.71984 8.7066L7.30816 8.8244ZM1.3 15.2083C1.3 11.9547 3.83616 9.28278 7.0344 9.0648L6.9936 8.46619C3.48293 8.70547 0.7 11.6368 0.7 15.2083H1.3ZM6.77324 21.3259C3.65355 20.9798 1.3 18.3493 1.3 15.2083H0.7C0.7 18.6548 3.28319 21.5424 6.70709 21.9222L6.77324 21.3259ZM14.5628 29.1164C14.0157 29.1164 13.5711 28.671 13.5711 28.1247H12.9711C12.9711 29.0019 13.6839 29.7164 14.5628 29.7164V29.1164ZM18.4378 29.1164H14.5628V29.7164H18.4378V29.1164ZM19.4295 28.1247C19.4295 28.671 18.9849 29.1164 18.4378 29.1164V29.7164C19.3167 29.7164 20.0295 29.0019 20.0295 28.1247H19.4295ZM19.4295 21.6664V28.1247H20.0295V21.6664H19.4295ZM22.9586 21.3664H19.7295V21.9664H22.9586V21.3664ZM23.2772 21.1518C23.2224 21.2831 23.0968 21.3664 22.9586 21.3664V21.9664C23.3422 21.9664 23.6842 21.7345 23.831 21.3828L23.2772 21.1518ZM23.2025 20.7755C23.3015 20.8745 23.3309 21.0229 23.2772 21.1518L23.831 21.3828C23.9787 21.0286 23.8971 20.6216 23.6267 20.3512L23.2025 20.7755ZM16.7441 14.3171L23.2025 20.7755L23.6267 20.3512L17.1684 13.8929L16.7441 14.3171ZM16.2552 14.3171C16.3899 14.1824 16.6094 14.1824 16.7441 14.3171L17.1684 13.8929C16.7993 13.5238 16.1999 13.5238 15.8309 13.8929L16.2552 14.3171ZM9.79684 20.7755L16.2552 14.3171L15.8309 13.8929L9.37258 20.3512L9.79684 20.7755ZM9.72261 21.1531C9.66921 21.0234 9.69907 20.8739 9.79758 20.7747L9.37183 20.3519C9.10351 20.6222 9.02229 21.0281 9.1678 21.3815L9.72261 21.1531ZM10.042 21.3664C9.90212 21.3664 9.7756 21.2817 9.72261 21.1531L9.1678 21.3815C9.31373 21.7359 9.65996 21.9664 10.042 21.9664V21.3664ZM13.2711 21.3664H10.042V21.9664H13.2711V21.3664ZM13.5711 28.1247V21.6664H12.9711V28.1247H13.5711ZM11.601 20.6747H13.917V20.0747H11.601V20.6747ZM16.2882 15.2633L11.3889 20.1626L11.8131 20.5869L16.7124 15.6876L16.2882 15.2633ZM21.6117 20.1626L16.7124 15.2633L16.2882 15.6876L21.1874 20.5869L21.6117 20.1626ZM19.0836 20.6747H21.3996V20.0747H19.0836V20.6747ZM18.7378 21.0206C18.7378 20.8298 18.8928 20.6747 19.0836 20.6747V20.0747C18.5614 20.0747 18.1378 20.4984 18.1378 21.0206H18.7378ZM18.7378 28.1247V21.0206H18.1378V28.1247H18.7378ZM14.5628 28.4247H18.4378V27.8247H14.5628V28.4247ZM14.2628 21.0206V28.1247H14.8628V21.0206H14.2628ZM13.917 20.6747C14.1078 20.6747 14.2628 20.8298 14.2628 21.0206H14.8628C14.8628 20.4984 14.4391 20.0747 13.917 20.0747V20.6747Z' fill='%23159C2A' mask='url(%23path-1-outside-1_1_262)'/%3E%3C/svg%3E%0A");
}
.application_apply_message {
    display: inline-flex;
    width: 100%;
    text-align: left;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
}
.application_apply_message.apply_succes_msg {
    background-color: #dffedf;
    border: 1px solid #a5d6a5;
}
.application_apply_message.apply_error_msg {
    background-color: #fedfdf;
    border: 1px solid #d6a5a5;
}
.application_apply_message_link {
    width: 100%;
    text-align: left;
    margin-top: 1rem;
}
.application_apply_message_link a {
    display: inline-flex;
    background-color: #4CAF50;
    width: 100%;
    max-width: 210px;
    justify-content: center;
    align-items: center;
    height: 38px;
    font-size: .9rem;
    line-height: normal;
    padding: 0.5rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
}
.application_apply_message_link a:hover {
    background-color: #49a44c;
    color: #fff;
    text-decoration: none;
}
.application_apply_message_itm {
    font-size: 1.1rem;
    line-height: normal;
    font-family: 'proxima_novaregular';
}
.application_apply_message.apply_succes_msg .application_apply_message_itm {
    color: #004103;
}
.application_apply_message.apply_error_msg .application_apply_message_itm {
    color: #960707;
}
.flup_rd_frm {
    color: red;
}
.sp_slbl_bl {
    font-family: 'proxima_novasemibold';
}